
*.db
*.stash
.vs/Virtual_Serial_Share/v15/.suo
*.opendb
*.ipch
*.ilk
*.exe
*.cbt
*.pdb
*.obj
*.tlog
*.log
*.user
*.filters
*.vcxproj
*.sln
debug/moc_predefs.h
GeneratedFiles/Debug/moc_host_send.cpp
GeneratedFiles/Debug/moc_list_ip_port.cpp
GeneratedFiles/Debug/moc_listwidget.cpp
GeneratedFiles/Debug/moc_mainwindow.cpp
GeneratedFiles/Debug/moc_my_scrollarea.cpp
GeneratedFiles/Debug/moc_serial_base.cpp
GeneratedFiles/Debug/moc_slave_recv.cpp
GeneratedFiles/ui_host_send.h
GeneratedFiles/ui_list_ip_port.h
GeneratedFiles/ui_mainwindow.h
GeneratedFiles/ui_serial_base.h
GeneratedFiles/ui_slave_recv.h
Virtual_Serial_Share.pro.user
Virtual_Serial_Share.pro.user
